{%extends "base.html" %}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="{{ url_for('form') }}" method=post>
                    <div class="mt-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="fullname" class="form-label">Nama lengkap:</label>
                        <input type="text" class="form-control"  placeholder="Nama lengkap" name="fullname">
                    </div>
                    <div class="mt-3">
                        <label for="payment" class="form-label">Bukti transfer:</label>
                        <input type="file" class="form-control-file" name="payment">
                    </div>
                    <div class="mt-3">
                        <label for="DP" class="form-label">Jumlah DP:</label>
                        <input type="text" class="form-control"  placeholder="Rp." name="dp">
                    </div>
                    <div class="mt-3">
                        <label for="sesi" class="form-label">Sesi:</label>
                        <select class="custom-select" name="sesi">
                            <option selected>Choose...</option>
                            <option value="1">Wedding</option>
                            <option value="2">Engagement</option>
                            <option value="3">Prewedding</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="address" class="form-label">Lokasi pelaksanaan:</label>
                        <input type="text" class="form-control"  placeholder="Lokasi" name="address">
                    </div>
                    <div class="mt-3">
                        <label for="shipment" class="form-label">Alamat pengiriman:</label>
                        <input type="text" class="form-control"  placeholder="Nama lengkap" name="shipment">
                    </div>
                    <div class="mt-3">
                        <label for="contact" class="form-label">Nomor telepon(WA)</label>
                        <input type="text" class="form-control"  placeholder="Nomor telepon" name="contact">
                    </div>
                    <div class="mt-3">
                        <label for="instagram" class="form-label">Social media(Instagram):</label>
                        <input type="text" class="form-control"  placeholder="Instagram username" name="instagram">
                    </div>
                    <div class="mt-3">
                    <label for="date" class="form-label">Tanggal:</label>
                    <div class="form-row" >
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" placeholder="dd">
                    </div>
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" placeholder="mm">
                    </div>
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" placeholder="yy">
                    </div>
                    </div>
                    </div>
                    <div class="mt-3">
                    <label for="time" class="form-label">Waktu:</label>
                    <div class="form-row" >
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" placeholder="jam">
                    </div>
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" placeholder="menit">
                    </div>
                    </div>
                    </div>
                    <div class="mt-3">
                        <label for="refrence" class="form-label">Dari mana anda mengetahui kami:</label>
                        <input type="text" class="form-control"  placeholder="pencarian instagram/hashtag/rekomendasi teman/lainnya" name="refrence">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}